* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navbar {
   background: rgba(52, 51, 51, 0.2);
   padding: 11px 100px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99999;
}

.navbar .container {
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-links {
   list-style: none;
   display: flex;
   gap: 25px;
}

.nav-links a {
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   transition: color 0.3s;
}

.nav-links a:hover {
   color: #ffcc00c1;
}

.hero {
   height: 100vh;
   background: url("drew-coffman-1872.jpg") no-repeat center center/cover;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
}

.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.2);
}

.hero-content {
   color: #fff;
   position: relative;
   z-index: 1;
}

.hero h1 {
   font-size: 60px;
   margin-bottom: 20px;
}

.hero p {
   font-size: 25px;
   margin-bottom: 30px;
}

.btn {
   padding: 17px 23px;
   text-align: center;
   letter-spacing: 0px;
   background-color: #8e7754;
   color: #ffffff;
   text-decoration: none;
   font-size: 19px;
   border-radius: 5px;
   transition: background 0.3s;
}

.btn:hover {
   color: black;
   background: #ffffff;
}

.btn1 {
   padding: 17px 23px;
   text-align: center;
   letter-spacing: 0px;
   /* background-color: #8e7754; */
   color: #ffffff;
   text-decoration: none;
   font-size: 19px;
   border: solid white 2px;
   border-radius: 5px;
   transition: background 0.3s;
   margin-left: 8px;
}

.btn1:hover {
   color: black;
   background: #ffffff;
}
.bt {
   margin-top: 40px;
}

.cmg {
   position: relative;
   top: 70px;
}

.c1 {
   margin: 90px 150px;
   display: flex;
   gap: 80px;
}

.cmg h2 {
   font-size: 26px;
   color: #303030;
   line-height: 1.38em;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
}
.cmg p {
   padding-top: 20px;
   font-family: "Open Sans", arial;
   color: #686868;
   line-height: 1.6;
}

.icoCon {
   padding-top: 15px;
   width: 500px;
   color: #686868;
   margin: 20px 0px;
}

.icoCon ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.icoCon li {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   font-size: 17px;
   color: #686868;
}

.icon-circle {
   width: 42px;
   height: 42px;
   background: #fff;
   border: 1.5px solid #e5e3df;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 10px;
}

.icon-circle i {
   color: #b49a69;
   font-size: 22px;
}

.bkg {
   background-color: #f7f7f7;
   width: 100%;
   height: 90vh;
}

.location-section {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 80px 100px;
   margin: 0 10px;
}

.location-text {
   flex: 1.3;
   padding-right: 60px;
}

.location-text h1 {
   font-size: 30px;
   font-weight: normal;
   margin-bottom: 32px;
   color: #322f2b;
   font-family: "Georgia", serif;
}

.location-text p {
   font-size: 17px;
   color: #686868;
   line-height: 2.2;
   margin-bottom: 20px;
}

.location-image {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

.location-image img {
   width: 600px;
   height: 500px;
   object-fit: cover;
   border-radius: 0;
   background: #fff;
   box-shadow: none;
}

.baking-section {
   padding: 80px 20px 100px 20px;
   background: #fff;
   text-align: center;
   color: #4a4a4a;
}

.baking-section .container {
   max-width: 1200px;
   margin: 0 auto;
}

.baking-section h2 {
   font-family: "Georgia", serif;
   font-weight: normal;
   font-size: 30px;
   color: #322f2b;
   margin-bottom: 10px;
}

.baking-section .subtitle {
   font-size: 16px;
   color: #a0a0a0;
   margin-bottom: 50px;
   font-weight: normal;
}

.baking-items {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   flex-wrap: wrap;
}

.baking-item {
   flex: 1 1 30%;
   max-width: 30%;
   box-sizing: border-box;
}

.baking-item img {
   width: 380px;
   height: 460px;
   height: auto;
   margin-bottom: 20px;
   object-fit: cover;
}

.baking-item h3 {
   font-family: "Georgia", serif;
   font-size: 18px;
   margin-bottom: 12px;
   color: #322f2b;
   font-weight: normal;
}

.baking-item p {
   font-size: 19px;
   line-height: 1.6;
   color: #686868;
   padding: 0 10px;
}

.contact-info-section {
   background-color: #f7f7f7;
   padding: 95px 0;
}

.contact-info-container {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 100px;
   max-width: 1200px;
   margin: auto;
}

.contact-details {
   flex: 1;
   min-width: 330px;
}

.contact-details h2 {
   font-size: 32px;
   margin-bottom: 28px;
   font-family: serif;
   font-weight: normal;
}

.contact-details p {
   color: #6f6e6e;
   font-size: 18px;
   margin-bottom: 10px;
   line-height: 1.58em;
   font-weight: normal;
}

.contact-details ul {
   list-style: none;
   padding: 0;
   margin-top: 25px;
}

.contact-details li {
   display: flex;
   align-items: center;
   font-size: 18px;
   margin-bottom: 25px;
   color: #686868;
}

.contact-details .icon {
   width: 38px;
   height: 38px;
   background: #a38762;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 18px;
   margin-right: 18px;
}

.contact-map {
   flex: 1;
   min-width: 340px;
   display: flex;
}

.footer-section {
   background-color: #3b3934;
   color: #ccc;
   padding: 50px 20px;
   font-family: Arial, sans-serif;
   font-size: 14px;
   line-height: 1.6em;
}

.footer-container {
   max-width: 1200px;
   margin: auto;
   display: flex;
   gap: 40px;
   flex-wrap: wrap;
}

.footer-column {
   flex: 1 1 220px;
   min-width: 220px;
}

.footer-column h3 {
   color: #ede7db;
   margin-bottom: 20px;
   font-weight: 500;
}

.footer-column p {
   line-height: 1.7;
   color: #7d7971;
   margin-bottom: 25px;
}

.footer-column ul {
   list-style: none;
   padding: 0;
   margin: 0;
   color: #7d7971;
}

.footer-column ul li {
   margin-bottom: 20px;
   position: relative;
   padding-left: 18px;
}

.footer-column ul li::before {
   content: ">";
   position: absolute;
   left: 0;
   color: #7d7971;
}

.contact-list li {
   padding-left: 30px !important;
}

.contact-list li i {
   position: absolute;
   left: 0;
   color: #7d7971;
   font-size: 18px;
   top: 2px;
}

.footer-column ul li {
   position: relative;
}

.footer-bottom {
   background: #302f2f;
   color: #aaa;
   padding: 70px 20px;
   font-family: Arial, sans-serif;
   text-align: center;
}

.footer-bottom-container {
   max-width: 900px;
   margin: auto;
}

.logo-text {
   font-size: 2rem;
   font-weight: 500;
   color: white;
   margin-bottom: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 12px;
}

.logo-icon {
   font-size: 2.6rem;
}

.footer-bottom p {
   color: #888;
   margin: 12px 0 18px;
   font-size: 0.9rem;
}

.social-icons {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.social-icon {
   background-color: #55504a;
   color: rgb(164, 159, 159);
   width: 40px;
   height: 40px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   text-decoration: none;
   font-weight: bold;
   font-family: Arial, sans-serif;
   font-size: 21px;
   transition: background-color 0.3s ease;
   user-select: none;
}

.social-icon:hover {
   background-color: #0275d8;
   color: #fff;
}
